body {
    background-color: #000000;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    
}

/* トップの写真 */
.top_pic {
    width: 100%;
}
header .wrapper h1 {
    font-size: 2.4rem;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}
header li{
    padding: 8px 25px;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
/* ホバーすると線が伸びる */
  a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
  }
  a:hover::after {
    transform: scale(1, 1);
  }
header ul {
    text-align: right;
}
.header-left h1{
    margin-top: 10px;
    margin-left: 10px;
} 
ul li a {
    text-decoration: none;
    color: #fff;
}
.li {
    list-style: none;
}

/* -------------------------

           works

--------------------------*/
.spbr {
    display: none;
}
.works-title {
    padding-top: 120px;
    letter-spacing: 0.2rem;
    text-align: center;
    border-bottom: 1px solid #fff;
    letter-spacing: 13px;
    font-size: 80px;
    margin: 0 15.5%;
}
.comment {
    margin: 0 15.5%;
    line-height: 32px;
    font-size: 17px;
    font-weight: bold;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
h2 {
    font-size: 2rem;
}

.sample{
    text-align: center;
}
.pc_sp-sample {
	width:60%;
    filter: drop-shadow(3px 1px 3px #fff); 
    margin-top: 50px;
}
/* URLを円で囲む */
.link_url a {
    width: 200px;
    border: 3px solid #696969;
    border-radius: 30px;
    padding: 8px 24px;
    margin-right: 60px;
}
.link_url {
    margin-top: 70px;
}
.explation ul {
    list-style: none;
}
h3 {
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    letter-spacing: 10px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";

}
.ep {
   letter-spacing: 10px;
   text-align: center;
   margin-top: 100px;
   margin-bottom: 100px;
   font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
   font-weight: bold;
}
.ep span {
    padding-right: 10em;
}
.link_url span {
    padding-right: 8em;

}
li {
    list-style: none;
    margin-top: 30px;
    font-size: 17px;
    font-weight: bold;
}
.title-border {
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    margin-bottom: 50px;
    letter-spacing: 10px;
    margin-bottom: 100px;
}

h4 {
    font-size: 20px;
    border-bottom: 2px solid #fff;
    display: inline-block;
}
.setting-text {
    letter-spacing: 3px;
    font-weight:600;
    margin-bottom: 100px;
    margin-top: 50px;
}
.story-text {
    letter-spacing: 3px;
    font-weight: bold;
    margin-bottom: 100px;
    margin-top: 50px;
}
.story-text span {
    padding-right: 3em;
}

/*----------------------------

            about

-------------------------------*/
.about-container {
    display: flex;
    text-align: center;
    margin-top: 150px;
}
.about_center {
    margin-top: -100px;
}
.about-img img {
    width: 60%;
    text-align: center;
    border-radius: 80%;
    margin-left: 400px;
    text-align: center;
}
.about_text {
    width:100%;
    margin-left: 300px;
    font-size: 20px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    text-align: justify;
    font-weight: bold;
}
.about_border {
    border-bottom: 2px solid #fff;
    display: inline-block;
}
.about-title {
    padding-top: 120px;
    letter-spacing: 0.2rem;
    text-align: center;
    border-bottom: 1px solid #fff;
    letter-spacing: 13px;
    font-size: 80px;
    margin: 0 15.5%;
}
/* --------------------

         history

---------------------*/ 
.history_text {
    width:100%;
    text-align: center;
    font-size: 17px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    text-align: justify;
}
.history-title {
    padding-top: 120px;
    letter-spacing: 0.2rem;
    text-align: center;
    border-bottom: 1px solid #fff;
    letter-spacing: 13px;
    font-size: 80px;
   
}
.personal-history {
    margin: 0 15.5%;
}
.set-text {
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
}
.year {
    font-size: 13px;
    color: #a1a1a1;
    font-weight: 600;
}
h4 {
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
/* -----------------------

          passion

-------------------------*/

/*アコーディオン全体*/
.accordion-area{
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin:0 auto;
    margin-top: 100px;

}

.accordion-area li{
    margin: 10px 0;
}

.accordion-area section {
	border: 1px solid #ccc;
}

/*アコーディオンタイトル*/
.title {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size:20px;
    font-weight: bold;
    padding: 3% 3% 3% 50px;
    transition: all .5s ease;
    margin-bottom: 100px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

/*アイコンの＋と×*/
.title::before,
.title::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    background-color: #fff;
    
}
.title::before{
    top:48%;
    left: 15px;
    transform: rotate(0deg);
    
}
.title::after{    
    top:48%;
    left: 15px;
    transform: rotate(90deg);

}

/*　closeというクラスがついたら形状変化　*/

.title.close::before{
	transform: rotate(45deg);
}

.title.close::after{
	transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
    display: none;/*はじめは非表示*/
    background: #f3f3f3;
	margin:0 3% 3% 3%;
    padding: 3%;
    color: #000000;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.passion-title {
    padding-top: 120px;
    letter-spacing: 0.2rem;
    text-align: center;
    border-bottom: 1px solid #fff;
    letter-spacing: 13px;
    font-size: 80px;
    margin: 0 15.5%;
}


/* -----------------------

           footer

-------------------------*/

footer{
    width: 100%;
    height: 100px;
    color: #fff;
    text-align: center;
    margin-top: 200px;
    text-align: center;
    font-size: 18px;
    
}
footer li{
    padding: 8px 25px;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
/* ホバーすると線が伸びる */
  a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
  }
  a:hover::after {
    transform: scale(1, 1);
  }
footer p {
    color: #777;
}
#wrapper {
    overflow: hidden;
}

/* --------------------------

             Base

----------------------------*/

@media screen and (max-width:480px) {
    /*　画面サイズが480pxからはここを読み込む　*/

header .header-left h1 {
    font-size: 20px;
}
.onbr_on {
    display: none;
}
.explation span {
    display: block;
}

.header-right li {
    font-size: 10px;
    display: inline;
    padding: 10px
}
.works-title {
    font-size: 35px;
}
.setting-text p{
    font-size: 14px;
    font-weight: 500;
}
 .pc_sp-sample {
	width:70%;
    filter: drop-shadow(3px 1px 3px #fff); 
    margin-top: 50px;
}
.up-section ul{
    text-align: center;
}
.explation h3 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.explation{
    text-align: center;
    padding: 0;
}
.ep ul {
    padding: 0;
}
.ep li{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: initial;
    width: 100%;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.explation .link_url {
    font-size: 14px;
    font-weight: 500;
    margin-top: 50px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    text-align: center;
}

.link_url a {
    width: auto;
    border: 1px solid #696969;
    border-radius: 30px;
    margin-right: 60px;
}
.comment h4 {
    font-size: 14px;
    font-weight: 500;
}
.story-text p {
    font-weight: 500;
    font-size: 14px;
}
.title-border {
    font-size: 14px;
}
h4 {
    font-size: 14px;
    border-bottom: 1px solid #fff;
    display: inline-block;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
p {
    font-size: 12px;
    font-weight: bold;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.spbr {
    display: block;
}
/* --------------------------

            about

-----------------------------*/

.about-container {
    display: block;
    text-align: center;
    margin-top: 60px;
}

.about-img img {
    width: 40%;
    border-radius: 80%;
    text-align: center;
    /* float: none; */
    margin: 0;
}
.about_text {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: -50px;
    font-size: 20px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    font-weight: 500;
}
.about_border {
    border-bottom: 2px solid #fff;
    display: inline-block;
}
.about-title {
    padding-top: 120px;
    letter-spacing: 0.2rem;
    text-align: center;
    border-bottom: 1px solid #fff;
    letter-spacing: 13px;
    font-size: 35px;
    margin: 0 15.5%;
}
.about_text .about_border{
    font-size: 14px;
    font-weight: 500;
}
.about_text p {
    font-size: 14px;
    font-weight: 500;
}
.personal-history h4 {
    font-weight: 500;
    font-size: 14px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
/* ----------------------

          history

-------------------------*/

.history-title {
    font-size: 35px;
}
.set-text p{
    font-size: 14px;
    font-weight: 500;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
.set-text .p_sp {
    font-size: 14px;
    font-weight: 300;
}

/* ------------------------
 
         passion

-------------------------*/
.passion-title {
    font-size: 35px;
    margin-top: -50px;
    margin-bottom: -30px;
}
.accordion-area {
    width: auto;
    text-align: center;
    padding: 1%;
}
.title {
    font-size: 12px;
    margin: 0 auto;
    height: auto;
    text-align: center;
    font-weight: 800;
}
.box p{
    text-align: left;
     font-size: 14px;
}
.passion {
    text-align: center;
}
/* ------------------------

          footer

----------------------------*/
footer {
    margin-top: -10px;
    text-align: center;
    display: inline-block;
    padding: 0;
}
footer li {
    font-size: 10px;
    display: inline;
   
}
footer ul {
    padding: 0;
}
footer p {
    font-size: 7px;
}
}
